### General
.DS_Store

### Bundler
.bundle

### Homebrew
Brewfile.lock.json

### Xcode and iOS specific

# Xcode User settings
xcuserdata/

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
# Packages/
# Package.pins
# Package.resolved
.build/
.package.resolved
.swiftpm

# AppCode
*.iml
/.idea/.name
/.idea/caches
/.idea/deploymentTargetDropDown.xml
/.idea/dictionaries
/.idea/libraries
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations
/.idea/workspace.xml

# Cocoapods
Pods

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/output
fastlane/README.md

# XCLogParser
build

### Project-specific

# Generated
**/*/Generated/

# Test files
__SnapshotArtifacts__
*Tests.swift.plist
*+fake.swift.plist

# Secrets
.cloak/.secrets
.env

### Tuist derived files ###
graph.dot
Derived/
.tuist-cache/

### Tuist managed dependencies ###
Tuist/Dependencies/graph.json
Tuist/Dependencies/Carthage
Tuist/Dependencies/Cocoapods
Tuist/Dependencies/SwiftPackageManager

# BuildTools

BuildTools/Tools
